@import './scss/variabls';
@import './scss/mixings';
@import './scss/nav';

/*============= RESETS =============*/

/*-- iPhone X Remove Gutters --*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
}

html {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
}

body {
  color: $primary-color;
  height: 100%;
  line-height: 1.4;
  background-color: $white;
  font-family: 'Montserrat', sans-serif !important;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 200;
  font-family: 'Libre Baskerville', serif !important;

  &.lg-heading {
    font-size: 5rem;
    font-weight: 700;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    font-size: 3rem;
  }
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: $primary-color;
  background-color: transparent;
  border: 2px solid $primary-color;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 4rem 0;
  transition: 0.3s ease;
  transition-property: background-color, color;
  max-width: fit-content;
  min-width: 18rem;
  text-align: center;
  z-index: 1;

  &--portland {
    color: $portland-accent !important;
    background-color: transparent;
    border: 2px solid $portland-accent !important;
    font-size: 1rem;
    margin: 1rem 0;

    &:hover {
      color: white !important;
      background-color: $portland-accent !important;
    }
  }

  &--no-margin {
    &:first-of-type {
      margin-top: 5rem;
    }
    margin: 1rem 0;
  }
}
.cta:hover {
  color: white;
  background-color: $primary-color;
}

.caption__accent {
  background-color: $secondary-color;
  padding: 0.5rem;
}

.caption__grey {
  background-color: $grey;
  padding: 0.2rem;
  margin-bottom: 2rem;
}

.big {
  font-size: 2rem;
}

.column-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &--center {
    justify-content: center;
  }
}

.container-margin-1 {
  margin: 1rem 0;
}

.container-margin-3 {
  margin: 3rem 0;
}

.heavy {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.3rem;
  font-family: 'Libre Baskerville', serif !important;
}

.main {
  font-size: 34px !important;
  margin-bottom: 2rem;
}

.cover-img {
  margin: 3rem 0;

  &--sm {
    height: 18rem;
    padding: 0.3rem;
  }

  &--mid {
    height: 23rem;
    padding: 0.3rem;
  }

  &--lg {
    height: 33rem;
    padding: 0.3rem;
  }

  &--xlg {
    height: 50rem;
    padding: 0.3rem;
  }

  &--fin-do {
    max-height: 33rem;
    max-width: 17rem;
    padding: 0.3rem;
  }
}

.lead {
  text-align: initial;

  &--end {
    text-align: end;
  }
}

.with-relative {
  position: relative;

  .light-ball {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 130px;
    right: 90px;
  }
}

.title {
  font-size: 24px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.3rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'Libre Baskerville', serif !important;
  &--evelina {
    color: $evelina_secondary;
  }
  &--portland {
    color: $portland-accent;
  }
  &--glow-yoga {
    color: $glow-yoga;
  }
  &--fin-do {
    color: $fin-do;
  }
  &--snov {
    color: $snov;
  }
}

p {
  text-align: start;
}
/*-- Prevent Horizontal Scrolling & Font Style --*/
html,
body {
  overflow-x: hidden;
}

/*--- Nav Scrolling Offset --*/
.offset:before {
  content: '';
  height: 4rem;
  display: block;
  margin-top: -4rem;
}

/*--- Extra Bootstrap Column Padding --*/
[class*='col-'] {
  padding: 1rem;
}

/*============= NAVIGATION =============*/
.navbar {
  padding: 0.7rem 1rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  transition: background-color 0.5s ease;

  &.solid {
    .logo {
      color: $white;
      text-decoration: none;
    }
    .navbar-nav {
      .nav-link {
        color: $white;
        padding-top: 0.8rem;
        display: inline-block;

        &:after {
          display: block;
          content: '';
          border-bottom: solid 2px $white;
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
        }

        &:hover:after {
          transform: scaleX(1);
        }
      }

      li {
        padding-right: 0.8rem;
      }
    }

    .custom-toggler-icon {
      color: white;
      font-size: 1.6rem;
    }
  }

  .logo {
    color: $primary-color;
    text-decoration: none;
  }
  .navbar-nav {
    .nav-link {
      color: $primary-color;
      padding-top: 0.8rem;
      display: inline-block;

      &:after {
        display: block;
        content: '';
        border-bottom: solid 2px $primary-color;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }

      &:hover:after {
        transform: scaleX(1);
      }
    }

    li {
      padding-right: 0.8rem;
    }
  }
}

.custom-toggler-icon {
  color: $primary-color;
  font-size: 1.6rem;
}

.navbar.solid,
.navbar.solid-toggle {
  background: rgba(0, 0, 0, 0.7) !important;
  transition: background-color 1s ease;

  .logo {
    color: $white;
    text-decoration: none;
  }

  .custom-toggler-icon {
    color: $white;
    font-size: 1.6rem;
  }

  .navbar-nav {
    .nav-link {
      color: $white;
      padding-top: 0.8rem;
      display: inline-block;

      &:after {
        display: block;
        content: '';
        border-bottom: solid 2px $white;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }

      &:hover:after {
        transform: scaleX(1);
      }
    }

    li {
      padding-right: 0.8rem;
    }
  }
}

/*-- Remove Button Outline --*/
button:focus,
a:focus,
a.btn:focus {
  outline: 0;
  -webkit-appearance: none;
  box-shadow: none;
  transition: all 0.6s ease;
}
button,
a,
a.btn,
.svg-inline--fa {
  transition: all 0.6s ease;
}

/*============= LANDING PAGE =============*/

/*--- Fixed Landing Page Section --*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
  @include background($home-image);
  opacity: 0.3;
}

/*-- Landing Page Caption --*/
.caption {
  z-index: 1;
  position: absolute;
  top: 30%;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;

  &__container {
    width: 80vw;
    padding-right: 30%;

    &__links {
      display: flex;
      align-items: center;

      .line {
        margin: 0 20px;
        border-bottom: 2px solid $primary-color;
      }
    }
  }

  h1 {
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    padding-bottom: 1rem;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 2rem;
    font-family: 'Libre Baskerville', serif !important;
  }

  h2 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    padding-bottom: 1rem;
    font-weight: 300 !important;
    line-height: 140%;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif !important;
  }

  h3 {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 300 !important;    

    a {
      color: $primary-color;
      text-decoration: none;
      font-weight: 600;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

/*-- Bouncing Down Arrow --*/
.arrow {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
}
.down-arrow .svg-inline--fa {
  color: $primary-color;
  font-size: 2.2rem;
  opacity: 0.3;
}
.down-arrow .svg-inline--fa:hover {
  opacity: 0.8;
}

/*============= FEATURES SECTION =============*/
#features {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  font-weight: 300;

  .jumbotron {
    border-radius: 0;
    display: flex;
    align-items: center;
    background-color: $white;

    .container {
      &__box {
        display: flex;
        align-items: center;
        justify-content: center;

        .cover-img {
          max-height: 30rem;
          margin: 5rem 0;

          &--sm {
            height: 18rem;
          }

          &--lg {
            height: 33rem;
            padding: 0.3rem;
          }

          &--xlg {
            height: 50rem;
            padding: 0.3rem;
          }
        }

        .heading {
          display: flex;
          flex-direction: column;

          a {
            text-decoration: none;
          }

          &--portland,
          &--glow-yoga,
          &--fin-do {
            align-items: flex-end;

            .heading__text {
              font-size: 1.5rem;
              margin-bottom: 1rem;
            }
          }

          &--evelina,
          &--snov {
            align-items: flex-start;

            .heading__text {
              font-size: 1.5rem;
              margin-bottom: 1rem;
            }
          }
        }

        &__inner {
          padding: 2rem;
          display: flex;
          flex-direction: row;
          width: 100%;

          a {
            text-decoration: none;
          }

          &__left,
          &__right {
            justify-content: flex-start;
            text-align: left;
            flex-direction: column;
          }

          &__left {
            width: 30%;
            margin-right: 2rem;
          }

          &__left-mid {
            width: 50%;
            margin-right: 2rem;
            flex-direction: column;
          }

          &--half {
            padding: 0;
            .container__box__inner__left {
              min-width: 50%;
              margin-right: 2rem;
            }
          }

          &--5 {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            padding: 2rem 0;
            width: 100%;
            justify-items: center;
          }

          &--4 {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: 1rem 0;
            width: 100%;
            justify-items: center;
          }

          &--3 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 1rem 0;
            width: 100%;
            justify-items: center;
          }

          &--2 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 1rem 0;
            width: 100%;
            justify-items: center;
          }

          .mockup {
            height: 35rem;
            padding: 1rem;
            width: 100%;

            &--tall {
              height: 90rem;
            }

            &--sm {
              height: 27rem;
            }

            &--xsx {
              height: 8rem;
              width: 50%;
            }
          }

          .tall {
            height: 100rem;
            padding: 1rem;
            width: 100%;

            &--sm {
              height: 70rem;
            }

            &--xsx {
              height: 8rem;
              width: 50%;
            }
          }
        }
      }
    }

    &--dark {
      @include background-color($dark_light);
    }

    &--snov-bg {
      @include background-color($snov-bg);
    }

    &--glow-yoga {
      @include background($glow-yoga-image);
      overflow: hidden;
    }

    &--evelina {
      @include background($evelina-image);
      overflow: hidden;
    }

    &--cook-it {
      @include background($cook-it-image);
      overflow: hidden;
    }

    &--portland {
      @include background($portland-image);
      overflow: hidden;
    }

    &--fin-do {
      @include background($fin-do-image);
      overflow: hidden;
    }

    &--snov {
      @include background($snov-image);
      overflow: hidden;
    }
  }
}

/*============= ABOUT SECTION =============*/
#about {
  .jumbotron {
    border-radius: 0;
    height: 100%;
    background-color: $white;
    // margin-top: 5rem !important;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: left;

    .about-container {
      display: grid;
      grid-template-columns: 40% 60%;
      gap: 10px;
      padding: 1rem 0;
      width: 100%;
      justify-items: center;
      margin-top: 10rem;

      .about-img {
        height: 20rem;
        width: 20rem;
      }

      &__info-container {
        h1 {
          margin-bottom: 3rem;
        }

        p {
          font-size: 18px;
          font-weight: 300;
          line-height: 22px;
          letter-spacing: 2px;
          text-align: left;
        }
      }
    }

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .container-wrapper {
      display: flex;
      flex-direction: row;
      gap: 10rem;
      margin-top: 3rem;
    }

    &--dark {
      @include background-color($dark_light);
      width: 100%;
    }
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif !important;
    .caption__container__links {
      justify-content: center;
      margin: 2rem 0;

      &__link {
        font-size: 18px;
        font-weight: 200;
        line-height: 22px;
        letter-spacing: 2px;
        text-align: left;

        a {
          text-decoration: none;
          color: $primary-color;
          padding-top: 0.8rem;
          display: inline-block;

          &:after {
            display: block;
            content: '';
            border-bottom: solid 2px $primary-color;
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
          }

          &:hover:after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

/*============= MEDIA QUERIES =============*/
@media (max-width: 1216.98px) {
  .caption {
    h1 {
      font-size: 3rem;
    }

    &__container {
      width: 80vw;
      padding-right: 15%;
    }
  }

  /*============= FEATURES SECTION =============*/
  #features {
    .jumbotron {
      .container {
        &__box {
          &__inner {
            .cover-img {
              margin: 1rem 0;

              &--mid {
                height: 25rem !important;
                padding: 0.3rem;
                margin: 0;
              }

              &--xlg {
                height: 45rem;
                padding: 0.3rem;
              }
            }
          }
        }
      }
    }
  }
}

/* Devices under 992px (lg) */
@media (max-width: 991.98px) {
  .caption {
    z-index: 1;
    position: absolute;
    top: 25%;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;

    &__container {
      width: 80vw;
      padding-right: 10%;

      &__links {
        display: flex;
        align-items: center;
      }
    }

    h1 {
      font-size: 3rem;
      letter-spacing: 0.2rem;
      padding-bottom: 0.8rem;
      line-height: 100%;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 2.2rem;
      padding-bottom: 1.7rem;
    }
  }
}

/* Devices under 768px (md) */
@media (max-width: 767.98px) {
  .caption {
    z-index: 1;
    position: absolute;
    top: 20%;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;

    &__container {
      width: 80vw;

      &__links {
        display: flex;
        align-items: center;
      }
    }

    h1 {
      margin-top: 0;
      font-size: 2.7rem;
      letter-spacing: 0.15rem;
      padding-bottom: 0.5rem;
      line-height: 100%;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1.7rem;
      padding-bottom: 1.2rem;
    }
  }
}

/* Devices under 576px (sm) */
@media (max-width: 575.98px) {
  .caption {
    z-index: 1;
    position: absolute;
    top: 30%;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;

    &__container {
      width: 100vw;
      padding: 1rem;

      &__links {
        display: flex;
        align-items: center;
        margin-top: 2rem;
      }
    }

    h1 {
      // margin-top: 10rem;
      font-size: 1.9rem;
      letter-spacing: 0.1rem;
      padding-bottom: 0.4rem;
      line-height: 100%;
      margin-bottom: 1rem;
    }

    h2 {
      // margin-top: 10rem;
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
      padding-bottom: 0.4rem;
      line-height: 100%;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1rem;
      padding-bottom: 1rem;
    }
  }

  .lead {
    text-align: center;
  }

  /*============= FEATURES SECTION =============*/
  #features {
    .jumbotron {
      border-radius: 0;

      .container {
        .column-reverse {
          display: flex;
          flex-direction: column-reverse !important;
        }

        &__box {
          .heading {
            display: flex;
            flex-direction: column;
            align-items: center;

            a {
              text-decoration: none;
            }
          }

          &__inner {
            padding: 1rem;
            display: flex;
            flex-direction: column;

            .container__box__inner__left,
            .container__box__inner__left-mid {
              min-width: 100%;
              margin-right: 0;
            }

            &--half {
              .container__box__inner__left {
                min-width: 100%;
                margin-right: 0;

                .container__box__inner--3 {
                  width: 100%;
                }
              }
            }

            .mockup {
              height: 20rem;
              padding: 1rem;
              width: 100%;

              &--sm {
                height: 17rem;
              }

              &--xsx {
                height: 8rem;
                width: 50%;
              }
            }

            .cover-img {
              margin: 1rem 0;

              &--sm {
                height: 18rem;
                padding: 0.3rem;
              }

              &--mid {
                height: 15rem !important;
                padding: 0.3rem;
              }

              &--lg {
                height: 30rem;
              }

              &--xlg {
                height: 45rem;
                padding: 0.3rem;
              }
              // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            }
          }
        }
      }
    }
  }

  /*============= ABOUT SECTION =============*/
  #about {
    .jumbotron {
      border-radius: 0;
      height: 100%;
      background-color: $white;
      // margin-top: 5rem !important;
      font-size: 18px;
      font-weight: 300;
      line-height: 20px;
      letter-spacing: 2px;
      text-align: left;

      .about-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding: 1rem 0;
        width: 100%;
        justify-items: center;
        margin-top: 2rem;

        .about-img {
          height: 20rem;
          width: 20rem;
        }

        &__info-container {
          h1 {
            margin-bottom: 3rem;
          }

          p {
            font-size: 18px;
            font-weight: 300;
            line-height: 22px;
            letter-spacing: 2px;
            text-align: left;
          }
        }
      }

      .box {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .container-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      &--dark {
        @include background-color($dark_light);
        width: 100%;
      }
    }
    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .caption__container__links {
        justify-content: center;
        margin: 2rem 0;

        &__link {
          font-size: 18px;
          font-weight: 200;
          line-height: 22px;
          letter-spacing: 2px;
          text-align: left;

          a {
            text-decoration: none;
            color: $primary-color;
            padding-top: 0.8rem;
            display: inline-block;

            &:after {
              display: block;
              content: '';
              border-bottom: solid 2px $primary-color;
              transform: scaleX(0);
              transition: transform 250ms ease-in-out;
            }

            &:hover:after {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }

  .projects-nav {
    &__prev {
      padding: 0 7% 0 10%;

      a {
        .n-desc {
          text-align: end;
        }
      }
    }

    &__next {
      padding: 0 10% 0 7%;

      a {
        .n-desc {
          text-align: start;
        }
      }
    }
  }
}
